<div id="modalItens" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModalItens()">&times;</span>
        <form action="/ordem/item" method="post">
            <fieldset>

                <div class="form-row">

                    {{ formItem.hidden_tag() }}

                    {{ formItem.id_item(class="form-control", id="id", value=os.id) }}
                    {{ formItem.id_ordem_servico(class="form-control", id="id_ordem_servico", value=os.id) }}
                    {{ formItem.id_produto(class="form-control", id="id_produto", value=os.id) }}

                    <div class="form-group col-md-6">
                        {{ formItem.codigo.label }}
                        {{ formItem.codigo(class="form-control", id="codigo", value='') }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ formItem.nome_produto.label }}
                        {{ formItem.nome_produto(class="form-control", id="nome_produto", value='') }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ formItem.valor_unitario.label }}
                        {{ formItem.valor_unitario(class="form-control", id="valor_unitario", value=0) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ formItem.qtd.label }}
                        {{ formItem.qtd(class="form-control", id="qtd", value=1) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ formItem.desconto.label }}
                        {{ formItem.desconto(class="form-control", id="desconto", value=0) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ formItem.acrescimo.label }}
                        {{ formItem.acrescimo(class="form-control", id="acrescimo", value=0) }}
                    </div>

                    <div class="form-group col-md-12">
                        {{ formItem.descricao.label }}
                        {{ formItem.descricao(class="form-control", id="descricao", value='') }}
                    </div>

                </div>

                <button type="submit" class="btn btn-success">Salvar</button>

            </fieldset>
        </form>
    </div>
</div>