{% extends "layouts/base.html" %}

{% block title %} Ordem de Serviço {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">

  <form role="form" method="post" action="/ordem/cadastrar/{{os.id}}">

    {{ form.hidden_tag() }}

    {{ form.id(class="form-control", id="os_id", value=os.id) }}
    {{ form.id_cliente(class="form-control", id="cliente_id", value=cliente.id) }}
    {{ form.id_veiculo(class="form-control", id="veiculo_id", value=veiculo.id) }}

    <div class="row">

      <div class="col-md-6">

        {{ form.placa.label }}
        <div class="input-group">
          {{ form.placa(class="form-control", id="placa", autocomplete="on",value=veiculo.placa) }}
          <div class="input-group-append" id="buttons">
            <button class="btn btn-outline-secondary" type="button"
              onclick="buscarVeiculoPorPlaca(document.getElementById('placa').value)">Localizar</button>
            <button class="btn btn-outline-primary" type="button">Novo</button>
          </div>
        </div>

      </div>

      <div class="col-md-2">
        <div class="form-group">
          {{ form.modelo.label}}
          {{ form.modelo(class="form-control mb-3", id="modelo",value=veiculo.modelo) }}
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          {{ form.ano.label}}
          {{ form.ano(class="form-control mb-3", id="ano",value=veiculo.ano) }}
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          {{ form.quilometragem.label}}
          {{ form.quilometragem(class="form-control mb-3", id="quilometragem",value=os.quilometragem) }}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form.nome.label}}
          {{ form.nome(class="form-control mb-3", id="nome", value= cliente.nome) }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form.fone.label}}
          {{ form.fone(class="form-control mb-3", id="fone", value= cliente.fone) }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          {{ form.data_entrada.label}}
          {{ form.data_entrada(class="form-control mb-3", id="data_entrada",value=os.data_entrada) }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          {{ form.data_previsao.label}}
          {{ form.data_previsao(class="form-control mb-3", id="data_previsao",value=os.data_previsao) }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          {{ form.tipo_servico.label}}
          {{ form.tipo_servico(class="form-control mb-3", id="tipo_servico",value=os.tipo_servico) }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          {{ form.prioridade.label}}
          {{ form.prioridade(class="form-control mb-3", id="prioridade",value=os.prioridade) }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.descricao.label}}
          {{ form.descricao(class="form-control", id="descricao",value=os.descricao) }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.salvar(class="btn btn-primary") }}
        </div>
      </div>
    </div>


</div>

</form>

</div>

{% endblock content %}

{% block javascripts %}

{% include 'Ordens/scripts.html' %}

{% endblock javascripts %}