<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>

  $(document).ready(function () {

    var nomes = [];
    var placas = [];

    function buscarPlacas() {
      $.getJSON('/placa/autocomplete', function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          placas.push(data[i].placa);
        }
      });
    };

    function buscarNomes() {
      $.getJSON('/cliente/autocomplete', function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          nomes.push(data[i].nome);
        }
      });
    };

    buscarPlacas();

    buscarNomes();

    $("#placa").autocomplete({
      source: placas,
      select: function (event, ui) {
        buscarVeiculoPorPlaca(ui.item.value);
      }
    });

    $("#nome").autocomplete({
      source: nomes,
    });

  });

  function buscarVeiculoPorPlaca(placa) {
    fetch('/placa/' + placa)
      .then(response => response.json())
      .then(data => {
        if (data) {
          document.getElementById('id_veiculo').value = data.id;
          document.getElementById('modelo').value = data.marca + '/' + data.modelo;
          document.getElementById('ano').value = data.ano_fabricacao + '/' + data.ano_modelo;

          if (data.id_cliente && typeof data.id_cliente === 'number' && data.id_cliente > 0) {
            buscarClientePorId(data.id_cliente);
          }

        } else {
          alert('Veículo não encontrado!');
        }
      })
      .catch(error => {
        console.error('Erro ao buscar veículo:', error);
      });
    desabilitarCamposVeiculo(false);
  }

  function buscarClientePorId(idCliente) {
    fetch('/cliente/' + idCliente)
      .then(response => response.json())
      .then(cliente => {
        if (cliente) {
          document.getElementById('id_cliente').value = cliente.id;
          document.getElementById('nome').value = cliente.nome;
          document.getElementById('fone').value = cliente.fone;
        } else {
          console.error('Cliente não encontrado:', idCliente);
        }
      })
      .catch(error => {
        console.error('Erro ao buscar cliente:', error);
      });
    desabilitarCamposCliente(true);
  }

  function desabilitarCamposCliente(habilitado = true) {
    document.getElementById('nome').disabled = habilitado;
    document.getElementById('fone').disabled = habilitado;
  }

  function desabilitarCamposVeiculo(habilitado = true) {
    document.getElementById('modelo').disabled = habilitado;
    document.getElementById('ano').disabled = habilitado;
    document.getElementById('quilometragem').disabled = habilitado;
  }

</script>