<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/assets/js/funcoes/formatacao.js"></script>

<script>

  $(document).ready(function () {

    var nomes = [];
    var placas = [];
    var produtos = [];

    function buscarPlacas() {
      $.getJSON('/placa/autocomplete', function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          placas.push(data[i].placa);
        }
      });
    };

    function buscarNomes() {
      $.getJSON('/cliente/autocomplete', function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          nomes.push(data[i].nome);
        }
      });
    };

    function buscarProdutos() {
      $.getJSON('/produto/autocomplete', function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          produtos.push(data[i].descricao);
        }
      });
    };

    buscarPlacas();

    buscarNomes();

    buscarProdutos();

    $("#placa").autocomplete({
      source: placas,
      select: function (event, ui) {
        buscarVeiculoPorPlaca(ui.item.value);
      }
    });

    $("#nome").autocomplete({
      source: nomes,
    });

    $("#nome_produto").autocomplete({
      source: produtos,
      appendTo: "#modalItens",
      select: function (event, ui) {
        buscarProdutoPorDescricao(ui.item.value);
      }
    });

  });

  function buscarVeiculoPorPlaca(placa) {
    fetch('/placa/' + placa)
      .then(response => response.json())
      .then(data => {
        if (data) {
          document.getElementById('id_veiculo').value = data.id;
          document.getElementById('modelo').value = data.marca + '/' + data.modelo;
          document.getElementById('ano').value = data.ano_fabricacao + '/' + data.ano_modelo;

          if (data.id_cliente && typeof data.id_cliente === 'number' && data.id_cliente > 0) {
            buscarClientePorId(data.id_cliente);
          }

        } else {
          alert('Veículo não encontrado!');
        }
      })
      .catch(error => {
        console.error('Erro ao buscar veículo:', error);
      });
    desabilitarCamposVeiculo(false);
  }

  function buscarClientePorId(idCliente) {
    fetch('/cliente/' + idCliente)
      .then(response => response.json())
      .then(cliente => {
        if (cliente) {
          document.getElementById('id_cliente').value = cliente.id;
          document.getElementById('nome').value = cliente.nome;
          document.getElementById('fone').value = cliente.fone;
        } else {
          console.error('Cliente não encontrado:', idCliente);
        }
      })
      .catch(error => {
        console.error('Erro ao buscar cliente:', error);
      });
    desabilitarCamposCliente(true);
  }

  function buscarProdutoPorCodigo(cod) {
    fetch('/produto/codigo/' + cod)
      .then(response => response.json())
      .then(produto => {
        if (produto) {
          document.getElementsByName('id_produto')[0].value = produto.id;
          document.getElementsByName('codigo')[0].value = produto.codigo;
          document.getElementsByName('nome_produto')[0].value = produto.descricao;
          document.getElementsByName('valor_unitario')[0].value = produto.preco;
        } else {
          console.error('Produto não encontrado:', cod);
        }
      })
      .catch(error => {
        console.error('Erro ao buscar produto:', error);
      });
  }

  function buscarProdutoPorDescricao(desc) {
    fetch('/produto/descricao/' + desc)
      .then(response => response.json())
      .then(produto => {
        if (produto) {
          document.getElementsByName('id_produto')[0].value = produto.id;
          document.getElementsByName('codigo')[0].value = produto.codigo;
          document.getElementsByName('nome_produto')[0].value = produto.descricao;
          document.getElementsByName('valor_unitario')[0].value = produto.preco;
        } else {
          console.error('Produto não encontrado:', desc);
        }
      })
      .catch(error => {
        console.error('Erro ao buscar produto:', error);
      });
  }

  function desabilitarCamposCliente(habilitado = true) {
    document.getElementById('nome').disabled = habilitado;
    document.getElementById('fone').disabled = habilitado;
  }

  function desabilitarCamposVeiculo(habilitado = true) {
    document.getElementById('modelo').disabled = habilitado;
    document.getElementById('ano').disabled = habilitado;
    document.getElementById('quilometragem').disabled = habilitado;
  }

  function openModalItens(id) {

    function encontrarItemPorId(id) {
      try {

        var itens = JSON.parse('{{ itens | tojson | safe }}');

        for (var i = 0; i < produtos.length; i++) {
          if (produtos[i].id == id) {
            return produtos[i];
          }
        }
        return null;
      } catch (e) {
        return null;
      }
    }

    if (id === '0') {

      try {

        document.getElementsByName('id_item')[0].value = 0;
        document.getElementsByName('id_ordem_servico')[0].value = '';
        document.getElementsByName('id_produto')[0].value = 0;
        document.getElementsByName('id_usuario')[0].value = 0;
        document.getElementsByName('codigo')[0].value = '';
        document.getElementsByName('nome_produto')[0].value = '';
        document.getElementsByName('valor_unitario')[0].value = 0;
        document.getElementsByName('qtd')[0].value = 1;
        document.getElementsByName('desconto')[0].value = 0;
        document.getElementsByName('acrescimo')[0].value = 0;
        document.getElementsByName('descricao')[0].value = '';

        document.getElementById('modalItens').style.display = 'block';

        return;
      } catch (e) {
        alert('Error: ' + e)
        return;
      }

    } else {

      var itemEncontrado = encontrarItemPorId(id);

      if (itemEncontrado == null) {
        alert('Item não encontrado');
        return;
      }

      try {

        document.getElementsByName('id_item')[0].value = itemEncontrado.id;
        document.getElementsByName('id_ordem_servico')[0].value = itemEncontrado.id_ordem_servico;
        document.getElementsByName('id_produto')[0].value = itemEncontrado.id_produto;
        document.getElementsByName('id_usuario')[0].value = itemEncontrado.id_usuario;
        document.getElementsByName('codigo')[0].value = itemEncontrado.produto().codigo;
        document.getElementsByName('nome_produto')[0].value = itemEncontrado.produto().nome_produto;
        document.getElementsByName('valor_unitario')[0].value = itemEncontrado.valor_unitario;
        document.getElementsByName('qtd')[0].value = itemEncontrado.qtd;
        document.getElementsByName('desconto')[0].value = itemEncontrado.desconto;
        document.getElementsByName('acrescimo')[0].value = itemEncontrado.acrescimo;
        document.getElementsByName('descricao')[0].value = itemEncontrado.observacao;

      } catch (e) {
        alert('Erro ao preencher os campos' + e);
      }
      document.getElementById('modalItens').style.display = 'block';
    }
  }

  function closeModalItens() {
    document.getElementById("modalItens").style.display = "none";
  }

  function removerItem(id) {
    if (confirm('Deseja realmente remover este item?')) {
      window.location.href = '/ordem/remover/' + id;
    }
  }

</script>