{% extends "layouts/base.html" %}

{% block title %} Lista de Carros {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link href="/static/assets/css/modal.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">

      <div class="col-12">
        
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Carros Cadastrados</h6>
            <button class="btn bg-gradient-primary" onclick="openModalCarros('0')">Cadastrar novo</button>
          </div>
        </div>

        <div class="card my-4">
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Placa / Cliente</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Modelo / Marca</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cor / Ano</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>

                  {% for carro in carros %}

                    <tr data-id="{{ carro.id }}">

                      <td>
                        <div class="d-flex px-2 py-1">                      

                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{carro.placa}}</h6>
                            <p class="text-xs text-secondary mb-0">Nome Cliente</p>
                          </div>

                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">                      

                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{carro.modelo}}</h6>
                            <p class="text-xs text-secondary mb-0">{{carro.marca}}</p>
                          </div>

                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">                      

                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{carro.cor}}</h6>
                            <p class="text-xs text-secondary mb-0">{{carro.ano_modelo}}/{{carro.ano_fabricacao}}</p>
                          </div>

                        </div>
                      </td>
                      
                      {% if carro.status == 0 %}
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-primary">Pendente</span>
                        </td>  
                      {% elif carro.status == 1 %}
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-warning">Em Andamento</span>
                        </td>  

                      {% elif carro.status == 2 %}
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-success">Finalizado</span>
                        </td>  

                      {% else %}
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-danger">Cancelado</span>
                        </td>  

                      {% endif %}
                      
                      <td class="align-middle">
                        <button class="btn bg-gradient-primary" onclick="openModalCarros('{{carro.id}}')">Editar</button>
                      </td>

                    </tr>

                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'Carros/modal.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'Carros/scripts.html' %}

{% endblock javascripts %}
