<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- adicionado -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> <!-- adicionado -->
  <link rel="stylesheet" href="/static/css/style.css"> 
  
  <title>Gerenciador de Carros</title>
</head>

<body>

    <a href="/">Pagina Inicial</a>

    {% block body %}
    
    {% endblock %}

</body>

</html>