{% extends "layouts/base-fullscreen.html" %}


{% block title %} Entrar {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
  <div class="page-header align-items-start min-vh-100" 
        style="background-image: url('/static/assets/img/illustrations/carrostecnologicos.autocompara.jpg'); background-size: cover; background-position: center;">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto" style="height: 600px;">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  Oficina Py
                </h4>

                </div>
              </div>

            <div class="container mt-3" style="margin-left: auto;"> <!-- centraliza oss elemento -->

              <h3><b>Cadastro de Carros</b></h3>

              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
          
              <form action="/carro/cadastrar" method="POST">
          
                <fieldset>
                  <form>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="id cliente">ID Cliente:</label>
                        <input type="text" class="form-control" name="id cliente" required>
                      </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="placa">Placa:</label>
                        <input type="text" class="form-control" name="placa" required>
                      </div>
                  
                      <div class="form-group col-md-6">
                        <label for="modelo">Modelo:</label>
                        <input type="text" class="form-control" name="modelo" required>
                      </div>
                    </div>
                  
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="marca">Marca:</label>
                        <input type="text" class="form-control" name="marca" required>
                      </div>
                  
                      <div class="form-group col-md-6">
                        <label for="cor">Cor:</label>
                        <input type="text" class="form-control" name="cor" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="ano fabricacao">Ano Fabricação:</label>
                        <input type="text" class="form-control" name="ano fabricacao" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="ano modelo">Ano Modelo:</label>
                        <input type="text" class="form-control" name="ano modelo" required>
                      </div>
                     </div>
                  
                    <button type="submit" class="btn btn-success">Cadastrar Carro</button>
                  </form>

                </fieldset>
              </form>
              <hr>
              <h3><b>Lista de Carros</b></h3>
              <fieldset style="padding: 0%;">
                <ul type="square">
          
                  {% for carro in carros %}
          
                    <li>
                      <a href="/consulta/{{carro.placa}}" class="consulta"> {{carro.placa}} --- {{carro.modelo}} --- {{carro.cor}}</a>
                    </li>
          
                  {% endfor %}
                  
              </fieldset>
      
                <br>
            </div>


    {% include 'includes/footer-fullscreen.html' %}

  </div>

{% endblock content %}

<!-- Pagina javascripit  -->
{% block javascripts %}{% endblock javascripts %}
