{% extends 'base.html' %}

{% block body %}
  <div class="container mt-5" style="margin: auto;">
    <h3><b>Gerenciador de Clientes</b></h3>

    <!-- Formulário de cadastro de carros -->
    <!-- ... restante do código ... -->

    <!-- Formulário de cadastro de clientes -->
    <form action="/cliente/cadastrar" method="POST">
      <fieldset>
        <label for="nome">Nome do cliente:</label>
        <input type="text" name="nome" required>
        <br>
        <label for="cpf">CPF do cliente:</label>
        <input type="text" name="cpf" required>
        <br>
        <label for="telefone">Telefone do cliente:</label>
        <input type="text" name="telefone" required>
        <br>
        <button type="submit" class="botao">Cadastrar Cliente</button>
      </fieldset>
    </form>
    <br>
    <br>
    <hr>

    <!-- Lista de carros -->
    <!-- ... restante do código ... -->

    <!-- Lista de clientes -->
    <h3><b>Lista de Clientes</b></h3>
    <fieldset style="padding: 0%;">
      <ul type="square">
        {% for cliente in clientes %}
        <li>
          <a href="/consultaCliente/{{cliente.cpf}}" class="consultaCliente"> {{cliente.nome}} --- {{cliente.cpf}} --- {{cliente.telefone}} </a>
        </li>
        {% endfor %}
      </fieldset>
    </ul>
  </div>
{% endblock %}

