{% extends 'base.html' %}

{% block body %}
    
<div class="container mt-5">

    <h1>cadastrar Produtos </h1>

    <form action="/produto/cadastrar" method="POST">


        <!--<label for="idFornecedor">idFornecedor:</label>
        <input type="text" name="idFornecedor" required>
        <br>-->
        <fieldset>
        <label for="codigo">codigo do produto:</label>
        <input type="text" name="codigo" maxlength="5" required>
        <br>
        <label for="descricao">descricao:</label>
        <input type="text" name="descricao" maxlength="150" required>
        <br>
        <label for="preco">preco de venda:</label>
        <input type="text" name="preco" maxlength="20" required>
        <br>
        <label for="precoCusto">preco Custo:</label>
        <input type="text" name="precoCusto" maxlength="20" required>
        <br>
        <label for="estoque">estoque de produtos:</label>
        <input type="text" name="estoque" maxlength="20" required>
        <br>
        <label for="tipo">tipo [produto ou serviço]:</label>
        <input type="text" name="tipo" required>
        <br>
        <button type="submit" class="btn btn-primary mt-3">Cadastrar Produto </button>
        </fieldset>
        
       </form>
       <br>
       <br>
       <hr>
       <h1> Lista de Produtos</h1>


       <ul>

            {% for produto in produtos %}

            <li>
                <a href="/consulta/{{produto.idFornecedor}}"> {{produto.codigo}} - {{produto.descricao}} - {{produto.preco}} </a>
            </li>

            {% endfor %}

       </ul>

</div>   
    
{% endblock %}